/* GLOBAL */
* {
  box-sizing: border-box;
}
body {
  padding: 0px;
  margin: 0px;
  font-family: "Open Sans", "Open Sans Condensed", sans-serif;
  font-size: 18px;
  line-height: 1,5;
  color: #333;
  background-color: #fff;
}
*:focus{
  outline: 2px dotted #DE2E54;
  outline-offset: 2px;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1160px;
padding-left: 30px;
padding-right: 30px;
margin-left: auto;
margin-right: auto;
}




/* SITE HEADER/ */
.site-header {
padding-top: 24px;
padding-bottom: 24px;
}
.site-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sitenav-list {
  display: flex;
  transform: color 2s ease;
}
.sitenav-list a {
  text-decoration: none;
  color: #222222;
  margin-left: 20px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 21px;
}
.sitenav-list:last-child {
  margin: 0;
}
.sitenav-list a:hover {
  color: #DE2E54;
}
.sitenav-list a:active {
  opacity: 0.6;
}




/* SITE LOGO */
.site-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #222222;
  margin-right: 16px;
  font-size: 24px;
  font-weight: 600;
 transform: color 2s ease;
}
.site-logo-text-footer {
color: #fff;
}
.site-logo-text-footer:hover {
  color: #DE2E54;
}
.site-logo-text-footer:active {
  color: #fff;
}
.site-logo:hover {
color: #DE2E54;
}
.site-logo:active {
  opacity: 0.6;
}
.site-header-logo-img {
  margin-right: 16px;
 border-radius: 50%;
}
.main-link {
  display: inline-block;
  text-decoration: none;
  border-radius: 8px;
  padding: 10px 22px;
  border: 2px solid transparent;
font-weight: 700;
font-size: 15px;
letter-spacing: 2px;
font-family: "open sans condensed", "Arial", "sans-serif";
background-color: #DE2E54;
color: #fff;
}

.main-link:hover {
  border-color: #DE2E54;
  color: #DE2E54;
  background-color: #fff;
}
.main-link:active {
  background-color: #DE2E54;
  color: #fff;
  opacity: 0.6;
}
.main-link-solid:hover {
 border-color: transparent;
 background-color: #DE2E54;
 color: #fff;
opacity: 0.8;
}
.main-link-solid:active {
  background-color: rgba(222, 46, 84, 0.8);
  opacity: 1;
}


/* HERO */
.hero {
  background-color: #0EB4C1;
  color: #fff;
}
.hero-content {
  width: 500px;
  padding-top: 120px;
  padding-bottom: 170px;
}
.hero-heading {
margin-top: 0;
margin-bottom: 16px;
font-family: "Open Sans Condensed", "Arial", "sans-serif";
font-size: 36px;
font-weight: 500;
}
.hero-text {
  margin-top: 0;
  margin-bottom: 36px;
  width: 440px;
  font-weight: 400;
}
.hero-container {
  display: flex;
  justify-content: space-between;
}
.hero-img {
align-self: flex-end;
}




/* INDEX SERVICES */
.index-services {
  padding-top: 120px;
  padding-bottom: 120px;
}
.index-services-heading {
margin-top: 0;
margin-bottom: 56px;
text-align: center;
font-family: "Open Sans Condensed " "Open Sans", "Arial", "sans-serif";
font-weight: 700;
font-size: 36px;
line-height: 1.2px;
color: #000;
}
.index-services-list  {
width: 864px;
padding: 0;
margin: 0;
margin-bottom: 64px;
margin-left: auto;
margin-right: auto;
list-style: none;
}
.index-services-item:not(:last-child) {
margin-bottom: 80px;
}
.index-service {
  display: flex;
  align-items: center;
}
.index-service-img {
  width: 200;
  height: 200;
  border-radius: 24px;
  object-fit: cover;
  margin-right: 64px;
}
.index-service-content {
  width: 600px;
}
.index-services-title {
  margin-top: 0;
 margin-bottom: 24px;
 color: #222;
}
.index-service-description {
  margin: 0;
  font-weight: 400;
  color: #444444;
}
.index-services-actions {
  display: flex;
  justify-content: center;
}
.index-services-title {
margin-top: 0;
margin-bottom: 24px;
}





/* SITE FOOTER */
.site-footer {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #222;
  color: #fff;
}
.sitenav-site-footer .sitenav-list a {
color: #fff;
}
.sitenav-site-footer .sitenav-list a:hover {
color: #DE2E54;
}
.sitenav-site-footer .sitenav-list a:active {
  color: #fff;
  opacity: 0.6;
}
.site-footer-container {
  display:flex ;
  justify-content: space-between;
  align-items: center;

}